amazon, https://www.amazon.com/
dropbox, https://dropbox.com/
google, https://www.google.com/
google calendar, https://calendar.google.com
google maps, https://maps.google.com/
google scholar, https://scholar.google.com/
gmail, https://mail.google.com/
github, https://github.com/
gist, https://gist.github.com/
wikipedia, https://en.wikipedia.org/
youtube, https://www.youtube.com/